include ./assets/pug-view/mixins.pug
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        // Embed font
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap', rel='stylesheet')
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='./assets/css/reset.css')
        link(rel='stylesheet', href='./assets/css/styles.css')
    body 
            include ./assets/pug-view/header.pug
            // main
            main(style='height: 10000px')
                include ./assets/pug-view/hero.pug
                include ./assets/pug-view/logo.pug
                include ./assets/pug-view/features.pug
                include ./assets/pug-view/course.pug
                include ./assets/pug-view/mentor.pug
                include ./assets/pug-view/contact.pug
                include ./assets/pug-view/cta.pug
