// Contact
.contact
    .main-content
        .contact-container
            .contact-left 
                h2.heading Book Our Course & Improve Your Skill.
                p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt amet sit placerat diam praesent pharetra at. Gravida ornare mauris pretium tortor, ac in nulla eleifend.
                a.btn-contact.btn(href="") Contact Us
                .contact-info 
                    .contact-students 
                        .contact-quantity
                            strong.value 586K+ 
                            span Student
                        p.comment Lorem upsum dolor sit amet, consectetur adipiscing elit.
                    .contact-course 
                        .contact-quantity
                            strong.value 250+ 
                            span Course
                        p.comment Lorem upsum dolor sit amet, consectetur adipiscing elit.
            .contact-right 
                .rectangle
                    .girl-course
                        img(src="./assets/img/girl-course.png", alt="Book Our Course & Improve Your Skill.")
                        .stamp
                            img.hashtag(src="./assets/icon/course.svg", alt="")
                            span.label Free Courses