// course
.course
    .main-content
        .course-content
            .course-info 
                h2.heading We Provide Many Types Of Course
                p.desc Price pattern glossy waistine ensemnle trend pumps petticoat sewing pretportrt value young availability original hondbong influence
                .course-btn-group 
                    a.btn-course.btn(href="#!") Design
                    a.btn-course.btn(href="#!") Popular
                    a.btn-course.btn(href="#!") Marketing
                    a.btn-course.btn(href="#!") Development
            .course-list
                +courseItem('./assets/img/course-1.png','course-1','Marketing','Creative Business Instagram','Mode pumps inspiration skit consumer haiter limited imprint braiding.','$180.00')
                +courseItem('./assets/img/course-2.png','course-2','UI/UX','Basic Exploration For UI/UX Design','Mode pumps inspiration skit consumer haiter limited imprint braiding.','$80.00')
                +courseItem('./assets/img/course-3.png','course-3','Web Development','Html and Cas From Zero To Hero','Mode pumps inspiration skit consumer haiter limited imprint braiding.','$110.00')
                