// Call to action
.cta#aboutus
    .main-content 
        .cta__info 
            .cta__title Subscribe for Get Update Every New Courses
            .cta__desc 586K Students daily learn with e-learning. Subscribe for new course
            .cta__action
                form(action='#!')
                    input#email(type='email', placeholder='Enter Your Email', required='', name='email')
                    button.cta__bt.btn.subscribe-button Subscribe
