// featured
.features 
    .main-content
        .features-header
            .features-header-left 
                h2.title Why Online Learning Method
            .features-header-right
                p.desc Studying online teaches important time management skills, which makes it easier for you to find a good work-studt balance
                a.btn-feat.btn(href="#!") Get Started 
        .features-footer 
            .features-list 
                +featuresItem("./assets/icon/clock.svg","clock","Flexible Time","Online education allows teachers and students to set their own pace of learning, and there is added flexibility in setting a schedule that fits everyone’s agenda.")
                +featuresItem("./assets/icon/quality.svg","quality","Certificate","Online education allows teachers and students to set their own pace of learning, and there is added flexibility in setting a schedule that fits everyone’s agenda.")
                +featuresItem("./assets/icon/wheel.svg","wheel","Access Anywhere","Online education allows teachers and students to set their own pace of learning, and there is added flexibility in setting a schedule that fits everyone’s agenda.")
                
        