// Footer
footer.footer
    .main-content
        .footer__info 
            .footer__list 
                .footer__item--logo  
                    a.footer__logo(href="/") E-Learn
                    p.footer__sub-title Venture customer niche market adopters monetization.
                .footer__list 
                    +footerItem('Company', 'About Us', 'Careers', 'Press Kit')
                    +footerItem('Resourse', 'Blog', 'Help Center', 'UX Research')
                    +footerItem('Product', 'Pricing', 'Enterprise', 'Integrate')
            .copyright
                .copyright__desc Follow Us
                .copyright__icon 
                    a(href="#!") 
                        img(src="./assets/icon/facebook.svg", alt="facebook")
                    a(href="#!") 
                        img(src="./assets/icon/instagram.svg", alt="instagram")
                    a(href="#!") 
                        img(src="./assets/icon/twitter.svg", alt="twitter")