// Hero
.hero
    .main-content
        .hero-info
            .hero-heading 
                h1.heading Online Learning You Can Access Anywhere Easily
            .hero-desc
                p.desc.line-clamp(style='--line-clamp:3')
                    | a Solution for easy and flexible online learning, you can study anywhere through this platform
                a.btn.btn-cta(href='#!') Get Started
        .hero-img
            img.thumb-1(src='./assets/img/hero-1.png', alt='Online Learning You Can Access Anywhere Easily')
            img.thumb-2(src='./assets/img/hero-2.png', alt='Online Learning You Can Access Anywhere Easily')
            img.thumb-3(src='./assets/img/hero-3.png', alt='Online Learning You Can Access Anywhere Easily')