// Logo-brand
.logo-brand 
    .main-content 
        .logo-brand-header 
            img.brand(src='./assets/icon/consulate.svg', alt='consulate')
            img.brand(src='./assets/icon/lamborghini.svg', alt='lamborghini')
            img.brand(src='./assets/icon/indeed.svg', alt='indeed')
            img.brand(src='./assets/icon/hoonigan.svg', alt='hoonigan')

