// Mentor
.mentor
    .main-content
        .mentor-content 
            .mentor-left 
                h2.heading Meet Our Proffessional Mentor
            .mentor-right 
                p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt amet sit placerat diam praesent pharetra at. Gravida ornare mauris pretium tortor, ac in nulla eleifend.
        .btn-mentor
            a.btn(href="#!") View All
        .mentor-list
            +mentorItem('./assets/img/mentor-1.png','mentor-1','Thomas Lynn','UI/UX Designer')
            +mentorItem('./assets/img/mentor-2.png','mentor-1','Alex Reena','Web Development')
            +mentorItem('./assets/img/mentor-3.png','mentor-1','Tom Curran','Marketing')
            +mentorItem('./assets/img/mentor-4.png','mentor-1','David Miller','Digital Marketing')
            