//- features
mixin featuresItem(img,alt,title,desc)
    .features-item
        .features-icon 
            img(src= img, alt= alt)
        .features-info 
            h3.sub-title= title
            p.line-clamp(style='--line-clamp:4').desc= desc

mixin courseItem(img,alt,title,sub,desc,price)
    .course-item 
        a(href="#!") 
            img(src= img, alt= alt).thumb
        .course-item-info 
            h3
                a(href="#!").title= title
            p.line-clamp(style='--line-clamp:1').sub-title= sub
            p.desc= desc
            .course-footer
                strong.price= price
                a.btn-cta-course.btn(href="#!") Join Now 

mixin mentorItem(img,alt,heading,desc)
    .mentor-item 
        a(href="#!") 
            img.thumb(src= img, alt= alt)
        .mentor-info 
            h3 
                a(href="#!").heading= heading 
            p.desc= desc